<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/btnNeon.css">
    <link rel="stylesheet" href="../styles/admin.css">
</head>

<body>

    <div class="wrapper">
        <h1>Добавьте участников</h1>
        <form class="admin" action="/result" method="POST">
            <ul class="members">

            </ul>
            <div class="admin__form__input">
                <input type="text" name='member' placeholder="Имя участника" autocomplete="off">
                <button type="button" class="add btncontainer" id="btnAdd"><div class="btnPlus" id="divAdd">+</div></button>
            </div>
            <input type="text" name="password" placeholder="Пароль" autocomplete="off">
            <input type="time" name="appt" min="00:15" max="15:59" value="01:00" required>

            <button class="btncontainer"><div class="btnbutton sndbtn">Создать</div></button>
        </form>

        <button type="button" class="btncontainer" id="btnExit"><div class="btnbutton"><a id="exit" href="/">Выйти</a></div></button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/scripts/cookies.js"></script>
    <script src="/scripts/admin.js"></script>
</body>

</html>