<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="../styles/btnNeon.css">
    <style>
        @font-face {
            font-family: 'LIBRARY 3 AM';
            src: url('../fonts/Library3am/LIBRARY3AM.woff2') format('woff2'), url('../fonts/Library3am/LIBRARY3AM.woff') format('woff');
        }
        
        @font-face {
            font-family: 'LIBRARY 3 AM soft';
            src: url('../fonts/Library3am/LIBRARY3AMsoft.woff2') format('woff2'), url('../fonts/Library3am/LIBRARY3AMsoft.woff') format('woff');
        }
        
        body {
            background-image: url(https://storge.pic2.me/upload/902/58f49c9f32ac0.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        @media only screen and (max-width: 1080px) {
            body {
                background-image: url(https://img.wallpapersafari.com/phone/750/1334/75/96/1gJru8.jpg);
                margin: 0;
            }
        }
        
        .wrapper {
            margin: 16px 0 10px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 96vh;
            background-color: rgba(0, 0, 0, 0.466);
        }
        /*  */
        
        .admin__form__input {
            display: flex;
            border: 2px solid #15f4ee;
            background-color: #ffffffb2;
            border-radius: 50px;
            margin-bottom: 14px;
            min-width: 64vw;
        }
        
        .admin__form__input input {
            flex-grow: 2;
            background: none;
            font-family: Raleway;
            font-size: 18px;
            padding: 0;
            padding-left: 10px;
            color: black;
            border: none;
            border-radius: 50px;
            min-width: 80%;
            min-height: 40px;
        }
        
        .admin__form__input input:focus {
            outline: none;
        }
        
        .admin__form__input button {
            margin: 0;
            border: none;
            border-radius: 50px;
            padding: 0;
            color: #ffffff;
            font-family: 'LIBRARY 3 AM';
            font-weight: bold;
            cursor: pointer;
            outline: none;
        }
        /*  */
        
        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            align-self: center;
            margin-bottom: 90px;
            align-items: center;
        }
        
        h1 {
            font-family: 'LIBRARY 3 AM';
            color: red;
            font-weight: initial;
            text-align: center;
        }
        
        .add:hover {
            box-shadow: 0 5px 50px 0 #15f4ed79;
            background-color: #15f4ed79;
        }
        
        #divAdd {
            font-size: 34px;
            font-weight: 800;
        }
        
        #btnExit {
            width: 90%;
        }
        
        [name="appt"] {
            border-radius: 18px;
            text-align: center;
            width: 124px;
            height: 48px;
            font-size: 28px;
            padding-left: 10px;
            font-family: 'LIBRARY 3 AM';
            font-weight: bold;
            transition: 1s;
            margin-bottom: 10px;
        }
        
        [name="appt"]:focus {
            outline: none;
            box-shadow: 0 5px 50px 0 #15f4ee inset;
        }
        
        [name="password"] {
            border: 2px solid #15f4ee;
            background-color: #ffffffb2;
            border-radius: 50px;
            margin-bottom: 14px;
            min-width: 64vw;
            min-height: 40px;
            text-align: center;
            font-size: 18px;
        }
        
        [name="password"]:focus {
            outline: none;
        }
        
        a {
            text-decoration: none;
            color: inherit;
        }
        
        a:hover {
            text-decoration: none;
            color: inherit;
        }
        
        .members {
            width: 98%;
            color: aliceblue;
            align-self: baseline;
            font-size: 18px;
            list-style-type: none;
            padding: 0;
            font-family: "Comic Sans MS", cursive, sans-serif;
        }
        
        li {
            padding-bottom: 8px;
            position: relative;
        }
        
        .btn-circle {
            width: 20px;
            position: absolute;
            top: 5px;
            right: 0;
            height: 20px;
            text-align: center;
            padding: 0px 0px;
            font-size: 14px;
            line-height: 1.428571;
            border-radius: 26px;
            border: none;
            color: red;
            background: #ffffff8c;
            outline: none;
            margin-right: 8px;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <h1>Добавьте участников</h1>
        <form class="admin" action="/result" method="POST">
            <ul class="members">

            </ul>
            <div class="admin__form__input">
                <input type="text" name='member' placeholder="Имя участника" autocomplete="off">
                <button type="button" class="add btncontainer" id="btnAdd"><div class="btnPlus" id="divAdd">+</div></button>
            </div>
            <input type="text" name="password" placeholder="Пароль" autocomplete="off">
            <input type="time" name="appt" min="00:15" max="15:59" value="01:00" required>

            <button class="btncontainer"><div class="btnbutton sndbtn">Создать</div></button>
        </form>

        <button type="button" class="btncontainer" id="btnExit"><div class="btnbutton"><a id="exit" href="/">Выйти</a></div></button>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/scripts/cookies.js"></script>
    <script src="/scripts/admin.js"></script>
</body>

</html>