<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../styles/btnNeon.css">
    <style>
        @font-face {
            font-family: 'LIBRARY 3 AM';
            src: url('../fonts/Library3am/LIBRARY3AM.woff2') format('woff2'), url('../fonts/Library3am/LIBRARY3AM.woff') format('woff');
        }
        
        @font-face {
            font-family: 'LIBRARY 3 AM soft';
            src: url('../fonts/Library3am/LIBRARY3AMsoft.woff2') format('woff2'), url('../fonts/Library3am/LIBRARY3AMsoft.woff') format('woff');
        }
        
        body {
            background-image: url(https://storge.pic2.me/upload/902/58f49c9f32ac0.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        @media only screen and (max-width: 1080px) {
            body {
                background-image: url(https://img.wallpapersafari.com/phone/750/1334/75/96/1gJru8.jpg);
                margin: 0;
            }
        }
        
        .wrapper {
            margin: 16px 0 10px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 96vh;
            background-color: rgba(0, 0, 0, 0.466);
        }
        /*  */
        
        .admin__form__input {
            display: flex;
            border: 2px solid #15f4ee;
            background-color: #ffffffb2;
            border-radius: 50px;
            margin-bottom: 14px;
        }
        
        .admin__form__input input {
            flex-grow: 2;
            background: none;
            font-family: Raleway;
            font-size: 14px;
            padding: 0;
            padding-left: 34px;
            color: black;
            border: none;
            border-radius: 50px;
        }
        
        .admin__form__input input:focus {
            outline: none;
        }
        
        .admin__form__input button {
            border: none;
            border-radius: 50px;
            padding: 0;
            font-size: 7vw;
            color: #ffffff;
            font-family: 'LIBRARY 3 AM';
            font-weight: bold;
            cursor: pointer;
            outline: none;
        }
        /*  */
        
        form {
            display: flex;
            flex-direction: column;
            width: 80%;
            align-self: center;
            margin-bottom: 90px;
        }
        
        h1 {
            font-family: 'LIBRARY 3 AM';
            color: red;
            font-weight: initial;
            text-align: center;
        }
        
        #btnAdd {
            margin: 0;
            width: 22%;
        }
        
        #divAdd {
            font-size: 4vw;
            font-weight: 800;
        }
        
        #divAdd:hover {
            box-shadow: none;
            text-shadow: none;
        }
        
        #btnExit {
            width: 90%;
        }
        a {
            text-decoration: none;
            color: inherit;
        }
        
        a:hover {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <h1>Добавьте участников</h1>
        <form class="admin" action="/result" method="POST">
            <ul class="members">

            </ul>
            <div class="admin__form__input">
                <input type="text" name='member'>
                <button type="button" class="add btncontainer" id="btnAdd"><div class="btnbutton" id="divAdd">+</div></button>
            </div>
            <button class="btncontainer"><div class="btnbutton sndbtn">Submit</div></button>
        </form>

        <button type="button" class="btncontainer" id="btnExit"><div class="btnbutton"><a id="exit" href="/">Выйти</a></div></button>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
    <script src="/scripts/cookies.js"></script>
    <script src="/scripts/admin.js"></script>
</body>

</html>