<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <style>
        body {
            background-image: url('https://storge.pic2.me/upload/902/58f49c9f32ac0.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            min-height: 100vh;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        @media only screen and (max-width: 1080px) {
            body {
                background-image: url('https://img.wallpapersafari.com/phone/750/1334/75/96/1gJru8.jpg');
                margin: 0;
            }
        }
        
        h3 {
            display: flex;
            flex-direction: column;
            margin: 34vh 0 18px 0;
            align-self: center;
            text-align: center;
            color: aliceblue;
        }
        
        .wrapper {
            margin: 16px 0 10px 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            height: 96vh;
            background-color: rgba(0, 0, 0, 0.466);
        }
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 50%;
        }
        
        #inputPassword {
            margin-bottom: 8px;
        }
        
        .btn {
            width: 100%;
        }
    </style>
</head>

<body>

    <div class="wrapper">
        <h3>Пожалуйста, введите пароль для входа</h3>
        <form class="authorization" action="/vote" method="post">
            <input type="password" id="inputPassword" class="form-control mx-sm-3" aria-describedby="passwordHelpInline" name='password'>
            <button class="btn btn-dark">Войти</button>
        </form>
    </div>
    <script src="/scripts/cookies.js"></script>
    <script src="/scripts/authorization.js"></script>
</body>

</html>