<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Rubik+Mono+One&display=swap" rel="stylesheet">
    <style>
        body {
            background-image: url(https://storge.pic2.me/upload/902/58f49c9f32ac0.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        
        @media only screen and (max-width: 1080px) {
            body {
                margin: 0;
            }
        }
        
        h1 {
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            font-family: 'RubikMonoOne';
            color: aliceblue;
            font-weight: bolder;
        }
        
        .wrapper {
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 80%;
            min-height: 100vh;
            background-color: rgba(0, 0, 0, 0.466);
        }
        
        .results__chart {
            width: 90%;
            margin: 20px;
            margin-bottom: 40%;
        }
        
        .progress {
            margin-bottom: 10px;
            background-color: transparent;
            height: 30px;
        }
        
        .progress-bar {
            background-color: rgb(54, 60, 70);
            border-radius: 50px;
            height: 100%;
            font-size: 14px;
        }
        
        .control {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 60%;
        }
        
        .control .btn {
            width: 100%;
            margin-bottom: 6px;
            border-radius: 30px;
        }
        
        a {
            text-decoration: none;
            color: inherit;
        }
        
        a:hover {
            text-decoration: none;
            color: inherit;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <h1>Результаты</h1>
        <div class="timer"></div>

        <div class="results__chart">
            <% membersRes.forEach(member => { %>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" style="width:<%= isNaN(votes * 100 / member[1]) || !isFinite(votes * 100 / member[1])  ? 20 : (votes * 100 / member[1])  %>% " aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                        <%= member[0].split('_').join(' ') %>
                            <%= isNaN(votes * 100 / member[1]) || !isFinite(votes * 100 /member[1])  ? 0 : (votes * 100 / member[1])  %>%
                    </div>
                </div>
                <% });%>

        </div>
        <form action="/newvote" method="post" id="createForm"></form>
        <div class="control">
            <button type="button" class="btn btn-dark" id="btnExit"><a id="exit" href="/">Выйти</a> </button>
        </div>
    </div>
    <script src="/scripts/cookies.js"></script>
    <script src="/scripts/resultUser.js"></script>
</body>

</html>