<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/material-components-web@v4.0.0/dist/material-components-web.min.css" rel="stylesheet">
    <style>
        form {
            display: flex;
            flex-direction: column;
            width: 50%;
            margin: auto;
            border: 1px solid;
            align-self: center;
        }

        .container {
            display: flex;
            align-items: center;
            height: 100vh;
        }
    </style>
</head>

<body>


    <div class="container">
        <form class="vote" method= "Post" action="/result">
            

            <% members.forEach(member => { %>
                <div class="mdc-form-field">
                        <div class="mdc-radio">
                            <input class="mdc-radio__native-control" type="radio" id="radio-1" name="radios"  value=<%= member  %>>
                            <div class="mdc-radio__background">
                                <div class="mdc-radio__outer-circle"></div>
                                <div class="mdc-radio__inner-circle"></div>
                            </div>
                            <div class="mdc-radio__ripple"></div>
                        </div>
                        <label for="radio-1"><%= member %></label>
                    </div>
            <% }); %>

            <button>Vote</button>
        </form>
    </div>

</body>

</html>