@font-face {
    font-family: 'RubikMonoOne';
    src: url('RubikMonoOne-Regular.ttf');
    src: local('RubikMonoOne-Regular'), url('RubikMonoOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}