@font-face {
    font-family: 'LIBRARY 3 AM';
    src: url('../fonts/Library3am/LIBRARY3AM.woff2') format('woff2'), url('../fonts/Library3am/LIBRARY3AM.woff') format('woff');
}

@font-face {
    font-family: 'LIBRARY 3 AM soft';
    src: url('../fonts/Library3am/LIBRARY3AMsoft.woff2') format('woff2'), url('../fonts/Library3am/LIBRARY3AMsoft.woff') format('woff');
}

body {
    background-image: url(https://storge.pic2.me/upload/902/58f49c9f32ac0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1080px) {
    body {
        background-image: url(https://img.wallpapersafari.com/phone/750/1334/75/96/1gJru8.jpg);
        margin: 0;
    }
}

.wrapper {
    margin: 16px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 96vh;
    background-color: rgba(0, 0, 0, 0.466);
    overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
    display: none;
}


/*  */

.admin__form__input {
    display: flex;
    border: 2px solid #15f4ee;
    background-color: #ffffffb2;
    border-radius: 50px;
    margin-bottom: 14px;
    min-width: 64vw;
}

.admin__form__input input {
    flex-grow: 2;
    background: none;
    font-family: Raleway;
    font-size: 18px;
    padding: 0;
    padding-left: 10px;
    color: black;
    border: none;
    border-radius: 50px;
    min-width: 80%;
    min-height: 40px;
}

.admin__form__input input:focus {
    outline: none;
}

.admin__form__input button {
    margin: 0;
    border: none;
    border-radius: 50px;
    padding: 0;
    color: #ffffff;
    font-family: 'LIBRARY 3 AM';
    font-weight: bold;
    cursor: pointer;
    outline: none;
}


/*  */

form {
    display: flex;
    flex-direction: column;
    width: 80%;
    align-self: center;
    margin-bottom: 90px;
    align-items: center;
}

h1 {
    font-family: 'LIBRARY 3 AM';
    color: red;
    font-weight: initial;
    text-align: center;
    margin-top: 20px;
}

.add:hover {
    box-shadow: 0 5px 50px 0 #15f4ed79;
    background-color: #15f4ed79;
}

#divAdd {
    font-size: 34px;
    font-weight: 800;
}

#btnExit {
    width: 90%;
}

[name="appt"] {
    border-radius: 18px;
    text-align: center;
    height: 48px;
    font-size: 28px;
    padding-left: 10px;
    font-family: 'LIBRARY 3 AM';
    font-weight: bold;
    transition: 1s;
    margin-bottom: 10px;
}

[name="appt"]:focus {
    outline: none;
    box-shadow: 0 5px 50px 0 #15f4ee inset;
}

[name="password"] {
    border: 2px solid #15f4ee;
    background-color: #ffffffb2;
    border-radius: 50px;
    margin-bottom: 14px;
    min-width: 64vw;
    min-height: 40px;
    text-align: center;
    font-size: 18px;
}

[name="password"]:focus {
    outline: none;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.members {
    width: 98%;
    color: aliceblue;
    align-self: baseline;
    font-size: 18px;
    list-style-type: none;
    padding: 0;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

li {
    padding-bottom: 8px;
    position: relative;
}

.btn-circle {
    width: 20px;
    position: absolute;
    top: 5px;
    right: 0;
    height: 20px;
    text-align: center;
    padding: 0px 0px;
    font-size: 14px;
    line-height: 1.428571;
    border-radius: 26px;
    border: none;
    color: red;
    background: #ffffff8c;
    outline: none;
    margin-right: 8px;
}