@font-face {
    font-family: 'Border Control';
    src: url('../fonts/BorderControl/BorderControl.woff2') format('woff2'), url('../fonts/BorderControl/BorderControl.woff') format('woff');
}

@font-face {
    font-family: 'Border Control Italic';
    src: url('../fonts/BorderControl/BorderControl-Italic.woff2') format('woff2'), url('../fonts/BorderControl/BorderControl-Italic.woff') format('woff');
}

@font-face {
    font-family: 'Escapade';
    src: url('../fonts/Escapade/Escapade.woff2') format('woff2'), url('../fonts/Escapade/Escapade.woff') format('woff');
}

@font-face {
    font-family: 'LIBRARY 3 AM';
    src: url('../fonts/Library3am/LIBRARY3AM.woff2') format('woff2'), url('../fonts/Library3am/LIBRARY3AM.woff') format('woff');
}

@font-face {
    font-family: 'LIBRARY 3 AM soft';
    src: url('../fonts/Library3am/LIBRARY3AMsoft.woff2') format('woff2'), url('../fonts/Library3am/LIBRARY3AMsoft.woff') format('woff');
}

body {
    background-image: url(https://storge.pic2.me/upload/902/58f49c9f32ac0.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

@media only screen and (max-width: 1080px) {
    body {
        background-image: url(https://img.wallpapersafari.com/phone/750/1334/75/96/1gJru8.jpg);
        margin: 0;
    }
}

.wrapper {
    margin: 16px 0 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    height: 96vh;
    background-color: rgba(0, 0, 0, 0.466);
    overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    align-self: center;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
    color: inherit;
}

.timer {
    font-family: 'LIBRARY 3 AM';
    font-size: 13vw;
    color: #ff0015;
    font-weight: bold;
}

#voteH1--1 {
    font-family: "Border Control";
    margin: 20px 0 -3px 0;
    font-weight: 500;
    font-size: 7vw;
    background: linear-gradient(180deg, #0063ff 30%, #7100ff 60%, #ab00ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#voteH1--2 {
    font-family: "Border Control Italic";
    font-weight: 500;
    font-size: 7vw;
    margin: 0;
    background: linear-gradient(180deg, #ab00ff, #d4178d 40%, #ff0015 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#voteH3--1 {
    font-family: 'Border Control';
    color: aliceblue;
    font-weight: 500;
    font-size: 4vw;
    margin: 0;
    margin-bottom: -2px;
}

#voteH3--2 {
    font-family: 'Border Control Italic';
    color: aliceblue;
    font-weight: 500;
    font-size: 4vw;
    margin: 0;
}

@media only screen and (min-width: 1080px) {
    #voteH1--1 {
        font-size: 4vw;
        margin-bottom: -9px;
    }
    #voteH1--2 {
        font-size: 4vw;
    }
    #voteH3--1 {
        font-size: 1.5vw;
    }
    #voteH3--2 {
        font-size: 1.5vw;
    }
}

.varlabel {
    color: aliceblue;
}

#btnExit {
    margin-top: 60px;
}

.mdc-form-field>label {
    width: 100%;
    color: aliceblue;
    font-family: "Comic Sans MS", cursive, sans-serif;
    font-size: 18px;
}


/* Select animation */

.timerContainer {
    width: 50%;
}